@{
    ViewBag.Title = "Фотография успешно удалена!";
}

@*<h2>Delete</h2>*@
<br> <br> <br> <br> 
<b> Фотография успешно удалена! </b>

<br> <br> 

@Html.ActionLink("К фотогалерее", "Index", "PhotoGallery")