@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@*<form method="post" action="">
  <fieldset>
    <br />
    Заголовок новости:
    <br />
    <input type="text" name="Title" maxlength="200" value = @result.Title />
    <br />
    <br />
    
    Введите, пожалуйста, текст новости:
    <br />
    <textarea name="Text" rows="10" cols="40" value = >
    </textarea>
    <br />
    <br />

    Прикрепите фото/видео... когда-нибудь Вы сможете сделать это!! Т_Т
    <br />


    <input type="submit" value="Отправить новость" />
  </fieldset>
</form>*@