@{
    ViewBag.Title = "Здоровое питание";
}
<br>
<h2>Здоровое питание</h2>
<br><br>
<img src="../Content/Documents/Food/food1.JPG" width="650"/>
@*<img src="../Content/Documents/Food/food2.JPG" width="650"/>*@
<br><br>
<h3>Рекомендуем ознакомиться:</h3>
<ul>
    <li type="circle"><a href="../Content/Documents/Food/О правильном питании.docx">О правильном питании</a></li>
    <li type="circle"><a href="../Content/Documents/Food/Объем порций.docx">Объем порций</a></li>
    <li type="circle"><a href="../Content/Documents/Food/График получения пищи.docx">График получения пищи</a></li>
</ul>
<br><br><br>