@{
    ViewBag.Title = "Общая информация";
}
<br>
<h2>Общая информация</h2>
<br><br>

<p>Дошкольное образовательное учреждение детский сад .</p>
<p>Наше кредо: «Любовь к детям воспитывается только любовью, как огонь зажигается только от огня». (В.А. Сухомлинский)</p>
<br><br>
<b>Адрес:</b> г. Новосибирск<br>
<b>Телефон:</b> <br>
<b>Факс:</b> <br>
<b>E-mail:</b> 777@mail.ru<br>
<b>Заведующая:</b> .
<br><br>

<h3>Режим работы ДОУ</h3>

Режим 5-дневной учебной недели, выходные дни – суббота и воскресенье.<br> 
Режим работы учреждения и длительность пребывания в нем детей определяются Положением ДОО, функционирует в 12-часовом режиме дня, с 7 часов 30 минут до 19 часов 00 минут.<br>
<br>
Образовательный процесс строится следующим образом:
<li>с 1 сентября по 30 мая – образовательный период;</li>
<li>с 1 июня по 31 июня – летний оздоровительный период;</li>
<li>с 1 января по 11 января – каникулы.</li>
<br><br><br>