@{
    ViewBag.Title = "На заметку";
}
<br>
<h2>На заметку</h2>


<ul>
    <li>@Html.ActionLink("МЧС", "MES", "Home")</li>
    <li>@Html.ActionLink("Медицинский блок", "Medicine", "Home")</li>
    <li>@Html.ActionLink("Здоровое питание", "Food", "Home")</li>
    <li>@Html.ActionLink("Страничка логопеда", "Logoped", "Home")</li>
</ul>
<br>
<br>
<br>
