@{
    ViewBag.Title = "Логопед";
}
<br>
<h2>Логопед</h2>
<br><br>
Наш логопед.<br><br>
В детском саду «Веснушки» работает логопедический кабинет или логопункт. Это означает, что из различных групп набираются дети, которым необходима помощь логопеда и с ними занимаются профессиональные педагоги. Логопеды оказывают помощь детям, возраст которых составляет от 4,5 до 7 лет и у которых имеются фонематические, фонетико-фонематические, фонетические и общие нарушения речи. <br>
В логопункте с воспитанниками, имеющими нарушения речи, проводится квалифицированная профилактическая и коррекционно-воспитательная работа с учетом возможностей и общего психофизического детей.<br>
В логопедический пункт дети попадают после диагностики и решения медико-педагогической комиссии. Поэтому коррекционно-развивающие занятия не входят в учебный план. Занятия, проводимые логопедами помогают выявлению и последующему устранению нарушений речи, формированию правильного произношения и развитию навыков связной речи.
<br><br>
<br><br>
<h3>Рекомендуем ознакомиться:</h3>
<ul>
    <li type="circle"><a href="../Content/Documents/Logoped/Развитие речи. Звукопроизношение.docx">Развитие речи. Звукопроизношение</a></li>
</ul>