@{
    ViewBag.Title = "Медицинский блок";
}
<br>
<h2>Медицинский блок</h2>
<br><br>
Наш медицинский работник
<br><br>
<br><br>

<h3>Рекомендуем ознакомиться:</h3>
<ul>
    <li type="circle"><a href="../Content/Documents/Medicine/Отказ от профилактических прививок.docx">Отказ от профилактических прививок</a></li>
    <li type="circle"><a href="../Content/Documents/Medicine/Добровольное информированное согласие.doc">Добровольное информированное согласие на проведение профилактических прививок детям или отказ от них</a></li>
    <li type="circle"><a href="../Content/Documents/Medicine/План профилактических оздоровительных работ.docx">План профилактических оздоровительных работ</a></li>
    <li type="circle"><a href="../Content/Documents/Medicine/Календарь профилактических прививок.docx">Календарь профилактических прививок</a></li>
    <li type="circle"><a href="../Content/Documents/Medicine/Заболевания.docx">Заболевания</a></li>
</ul>
<br><br><br>
