@{
    ViewBag.Title = "МЧС";
}
<br>
<h2>Безопасность детского сада</h2>
<br>

<li type="circle"> Главное Управление МЧС России по Новосибирской области «телефон доверия»: 20-20-130.</li>
<li type="circle"> Управление ФСБ России по Новосибирской области «круглосуточный телефон дежурной службы»: 21-00-555.</li>
<li type="circle"> Главное Управление Внутренних дел по Новосибирской области «телефон горячей линии»: 21-67-675.</li>
<br><br>

<b>Мы не должны ожидать беду, мы должны быть готовы к ней!</b><br>
Будьте бдительны!<br>
Заметив подозрительный предмет не подходите близко, он может оказаться самодельным взрывным устройством.<br>
Немедленно предупредите окружающих о возможной опасности!<br>
Сообщите о находке в службу спасения и полицию по телефонам: «01,02».<br>
<br><br>
<p><b>ПОЖАРЫ</b></p>
<p><b>При нахождении в здании необходимо:</b></p>
<li type="circle"> Немедленно покинуть горящее помещение и задымленное место, задержав дыхание, защитив нос и рот влажной плотной тканью, в сильно задымленном помещении передвигаться следует ползком или пригнувшись.</li>
<li type="circle"> Дверь в горящее, задымленное помещение открывать осторожно, чтобы избежать вспышки пламени от быстрого притока воздуха.</li>
<li type="circle"> При эвакуации из здания категорически запрещается пользоваться лифтом</li>
<li type="circle"> Если выйти из помещения невозможно, следует плотно закрыть входную дверь, дверные щели и вентиляционные отверстия заложить мокрыми тряпками.</li>
<li type="circle"> При возгорании одежды – лечь на щемлю или на пол и сбить пламя.</li>
<li type="circle"> Для тушения электроприборов применять только углекислотные или порошковые огнетушители.</li>
<li type="circle"> О пожаре или возгорании незамедлительно сообщить по телефону «01».</li>
<br><br>
<p><b>ЗАХВАТ ЗАЛОЖНИКОВ</b></p>
<li type="circle"> Старайтесь ограничить любые контакты с преступниками, не вызывайте у них агрессии своими действиями или словами.</li>
<li type="circle"> Попытайтесь запомнить характерные приметы преступников: рост, одежду, обувь, особенности поведения, речи и т.д.</li>
<li type="circle"> Используйте любую возможность для передачи информации о своем местонахождении родственникам или правоохранительным органам.</li>
<li type="circle"> Не реагируйте на провокационные действия террористов,      не задавайте им вопросов и, по возможности, не смотрите им в глаза.</li>
<li type="circle"> Выполняйте требования террористов, спрашивайте у них разрешения на любые действия.</li>
<br>
<p><b>Во время штурма спецподразделения:</b></p>
<li type="circle"> Отойдите от входных дверей, окон, иллюминаторов, люков, укройтесь за предметами (креслом, столом и т.п.), займите горизонтальное положение, прикройте свое тело от пуль подручными средствами; в момент штурма не берите в руки оружие преступников, т.к. вас могут принять за бандитов и открыть по вам огонь на поражение</li>
<br>
<p><b>При перестрелке:</b></p>
<li type="circle"> Немедленно отойдите от окон, если есть ванная комната, то желательно укрыться там, лечь в ванну или на пол; находясь на улице, найдите укрытие (выступ здания, каменные ступени, памятник, фонтан, бетонный столб, кирпичный забор или бордюрный камень) и пробирайтесь к нему ползком.</li>
<br><br>
<p><b>ЗЕМЛЕТРЯСЕНИЯ</b></p>
<br>
<p><b>Если толчки застали вас в здании:</b></p>
<li type="circle"> Немедленно покиньте его, при этом категорически запрещается пользоваться лифтом, и отойдите подальше на открытое место.</li>
<li type="circle"> Если покинуть здание невозможно – займите положение в углу, образованном капитальными стенами, узкими коридорами, встаньте около опорных колонн или в дверных проемах, заберитесь под стол, кровать или в ванну, закройте лицо и голову руками.</li>
<br>
<p><b>При нахождении на улице:</b></p>
<li type="circle"> Необходимо немедленно отойти как можно дальше от зданий и сооружений, высоких столбов и заборов, линий электропередач.</li>
<br>
<p><b>Если вы оказались в завале:</b></p>
<li type="circle"> Не поддавайтесь панике, постарайтесь определиться в пространстве и подавайте сигналы о себе (стучите железом о железо – по батареям, трубам и т.п.).</li>
<br>
<p><b>После землетрясения следует:</b></p>
<p><li type="circle"> Немедленно выйти из здания, остерегаясь падающих предметов, оборванных проводов, и отойти подальше на открытое место; спускаться по лестнице следует крайне осторожно, оценив ее прочность; не подходите к поврежденным зданиям, не пользуйтесь открытым огнем.<o:p></o:p></p>
<br><br>
<p><b>ВЗРЫВЫ</b></p>
<p><b>При взрыве необходимо:</b></p>
<li type="circle"> Использовать для укрытия естественные складки местности, прочные невысокие конструкции, расположенные на удалении от многоэтажных остекленных зданий и сооружений.</li>
<li type="circle"> Находясь на открытом пространстве, лечь на живот ногами по направлению к предполагаемому месту взрыва, голову защитить руками.</li>
<li type="circle"> При нахождении в помещении, лечь на живот подальше от окон, заставленных дверей, проходов, лестниц, по возможности в местах соединения несущих конструкций, в углах, образованных капитальными стенами, возле опорных колонн, закрыть голову руками.</li>
<br><br>
<h3>Рекомендуем ознакомиться:</h3>
<ul>
    <li type="circle"><a href="../Content/Documents/MES/Типовые действия персонала при возникновении пожара.docx">Типовые действия персонала при возникновении пожара</a></li>
    <li type="circle"><a href="../Content/Documents/MES/О пожарной безопасности.docx">О пожарной безопасности</a></li>
</ul>
<br><br><br>