@{
    ViewBag.Title = "Родителям";
}
<br>
<h2>Родителям</h2>
<br><br>
<img src="../Content/Documents/ToParents/parents1.JPG" width="650"/>
<br><br>
Ст. 18 Закон Российской Федерации «Об Образовании». «Родители являются первыми педагогами. Они обязаны заложить основы физического и интеллектуального развития личности ребенка».

<br><br>
<p><b>ЗАПОВЕДИ ВОСПИТАНИЯ:</b></p>
<ol>
 <li><b>Люби своего ребенка!</b><br>
То есть радуйся его присутствию, принимай его таким, каков он есть, не оскорбляй его, не унижай его, не подрывай его уверенности в себе, не подвергай его несправедливому наказанию, дай повод любить тебя.</li>
 <li><b>Охраняй своего ребенка!</b><br>
То есть защищай его от физических и душевных опасностей, даже жертвуя собственными интересами, а иногда жизнью.</li>
 <li><b>Будь добрым примером для своего ребенка!</b><br>
Ребенку необходим такой домашний очаг, где семья дружна, где уважают и любят стариков, где поддерживаются тесные и искренние связи со всеми родственниками и друзьями. Ребенок должен жить в честной, скромной, гармоничной семье.</li>
 <li><b>Играй со своим ребенком!</b><br>
Уделяй ему необходимое время, разговаривай с ним, играй с ним так, как ему нравится, игры его принимай всерьез, освойся с миром его представлений.</li>
 <li><b>Трудись со своим ребенком!</b><br>
Помогай ребенку, когда он пытается принять участие в работе – дома, в саду или огороде. Когда ребенок подрастет, приучай его участвовать во всех работах по хозяйству.</li>
 <li><b>Позволь ребенку приобретать жизненный опыт, пусть даже не безболезненно, но самостоятельно!</b><br>
Ребенок признает только такой опыт, который он пережил самолично. Дай ему возможность накопить собственный опыт, даже если это связано с известным риском.</li>
 <li><b>Покажи ребенку возможности и пределы человеческой свободы!</b><br>
Родители должны раскрыть перед ребенком замечательные возможности развития и утверждения человеческой личности, соответственно дарованиям и особенностям каждого. </li>
 <li><b>Приучай ребенка быть послушным!</b><br>
Родители обязаны следить за поведением ребенка и направлять таким образом, чтобы его поступки не причиняли ущерба ни себе, ни другим. </li>
 <li><b>Жди от ребенка только таких мнений и оценок, на какие он способен в соответствии со ступенью созревания и собственным опытом!</b><br>
Ребенку требуется длительное время, чтобы научится ориентироваться в этом мире. Помогай ему, сколько сможешь.</li>
 <li><b>Предоставляй ребенку возможность таких переживаний, которые будут иметь ценность воспоминаний!</b></li>

</ol>
<br><br>
<h3>Рекомендуем ознакомиться:</h3>
<ul>
    <li type="circle"><a href="../Content/Documents/ToParents/Советы родителям.docx">Советы родителям</a></li>
    <li type="circle"><a href="../Content/Documents/ToParents/Конвенция о правах ребенка.docx">Конвенция о правах ребенка</a></li>
    <li type="circle"><a href="../Content/Documents/ToParents/Правила катания на самокате и велосипеде.docx">Правила катания на самокате и велосипеде</a></li>
    <li type="circle"><a href="../Content/Documents/ToParents/Зачем ребенку кукольный театр.docx">Зачем ребенку кукольный театр?</a></li>
</ul>
<br><br><br>












